*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
androidApp/build
androidApp/release
shared/build
iosApp/Podfile.lock
iosApp/Pods/
Pods/
androidApp/key20.jks